<div>
  <h2>Events for Today</h2>
  &nbsp;
  <div *ngFor="let event of currentDayEvents">
    &nbsp;
    &nbsp;

    <h3>{{ event.name }}</h3>
    <p><strong>Start Time:</strong> {{ event.startDate | date:'medium' }}</p>
    <p><strong>End Time:</strong> {{ event.endDate | date:'medium' }}</p>
    <p><strong>Location:</strong> {{ event.locationString }}</p>
    <p><strong>Labels:</strong> {{ event.labelNames }}</p>
    <p><strong>Participants:</strong> {{ event.userNames }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <div *ngIf="event.pictureData">
      <img [src]="'data:image/jpeg;base64,' + event.pictureData" alt="Event Picture">
    </div>
    <!-- Additional details can be added here -->
  </div>
</div>
