<div>


    <dx-button (onClick)='print()' >Print</dx-button>



  <h2>Events for Today</h2>
  <mat-card *ngFor="let event of currentDayEvents" class="event-card">
    <mat-card-header>
      <mat-card-title>{{ event.name }}</mat-card-title>
      <mat-card-subtitle>{{ event.startDate | date:'medium' }} - {{ event.endDate | date:'medium' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="event.pictureData"
    [src]="'data:image/png;base64,' + event.pictureData"
    alt="Event Picture"
    class="event-image">
    <mat-card-content>
      <p><strong>Location:</strong> {{ event.locationString }}</p>
      <p><strong>Labels:</strong> {{ event.labelNames }}</p>
      <p><strong>Participants:</strong> {{ event.userNames }}</p>
      <div class="markdown-body" [innerHTML]="getHtmlContent(event.description)"></div>
    </mat-card-content>
  </mat-card>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
