<div>
  <h2>Worker Hours Report</h2>

  <div>

    <div>
      <label for="reportType">Report Type:</label>
      <select [(ngModel)]="reportType" (change)="onReportTypeChange()">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>

<!--    <dx-drop-down-box-->
<!--      [(value)]="reportType"-->
<!--      [dataSource]="reportTypeList"-->
<!--      placeholder="Report type"-->
<!--      (onValueChanged)="onReportTypeChange()">-->
<!--      <div *dxTemplate="let data of 'content'">-->
<!--        <dx-list-->
<!--          [dataSource]="reportTypeList"-->
<!--          selectionMode="single"-->
<!--          [selectedItems]="[reportType]"-->
<!--          (onSelectionChanged)="onReportTypeChange($event)">-->
<!--          <div *dxTemplate="let data of 'content'">-->
<!--            {{data}}-->
<!--          </div>-->
<!--        </dx-list>-->
<!--      </div>-->
<!--    </dx-drop-down-box>-->


    <h3>Users:</h3>
    <div *ngIf="isWorker">
      <div *ngFor="let worker of workers">
        <dx-check-box
          (valueChange)='onWorkerSelectionChange(worker.id, $event)'
          [value]="selectedWorkerIds.includes(worker.id)"

        >
        </dx-check-box>
        <label [for]="worker.id">{{'  ' + worker.name + '(' + this.workerHoursSum + ' óra)'}}</label>
      </div>
    </div>

    <div *ngIf="!isWorker">
      <div *ngFor="let worker of workers">
        <dx-check-box
          (valueChange)='onWorkerSelectionChange(worker.id, $event)'
          [value]="selectedWorkerIds.includes(worker.id)">
        </dx-check-box>
        <label [for]="worker.id">{{'  ' + worker.name}}</label>
      </div>
    </div>

    <h3>Labels:</h3>

    <div *ngFor="let labelName of distinctLabelNames">
      <dx-check-box
      (valueChange)='onLabelSelectionChange(labelName, $event)'
      [value]="selectedLabelNames.includes(labelName)">

      </dx-check-box>
      <label [for]="'label-' + labelName">{{ labelName }}</label>
    </div>

    <dx-date-box
    [(value)]="startDate"
    (valueChange)="onDateChange()"
    type="date"
    placeholder="Start Date">
  </dx-date-box>

  <dx-date-box
    [(value)]="endDate"
    (valueChange)="onDateChange()"
    type="date"
    placeholder="End Date">
  </dx-date-box>

  </div>



  <!-- Chart for displaying hours -->
  <dx-chart
  [dataSource]="workerHours"
  title="Worker Hours Report">
  <dxi-series
    *ngFor="let worker of selectedWorkers"
    argumentField="segment"
    [valueField]="worker.name"
    [name]="worker.name"
    type="bar">
  </dxi-series>


  </dx-chart>


</div>

<dx-button (onClick)="triggerExport()">Export to Excel</dx-button>

<!-- Optional: Hidden DataGrid for Exporting Data -->
<div style="display: none;">
  <!-- worker-statistics.component.html -->

  <!-- worker-statistics.component.html -->

  <!-- Make the DataGrid visible -->
  <div>
    <dx-data-grid #dataGrid
                  [dataSource]="workerHours"
                  [columns]="gridColumns"
                  [showBorders]="true">
    </dx-data-grid>
  </div>
</div>
