button {
    background: transparent;
    border: none !important;
}

.event-user-images {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.event-user-image {
  width: 25px;   /* Adjust as needed */
  height: 25px;  /* Adjust as needed */
  border-radius: 50%; /* Circular images */
  margin: 2px; /* Space between images */
}
